.conatiner-content
{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.container-left
{
    padding: 10px;
    padding-right: 40px;
    box-sizing: border-box;
    width: 40%;
}

.image-news
{
    margin: 5px 0;
}

.container-mission
{
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 3px #8FA819;
}

.list-options
{
    margin-left: 40px;
    margin-top: 10px;
}

.container-right
{
    width: 60%;
    padding-top: 30px;
}

.container-right .title
{
    margin-bottom: 10px;
}


.container-header-right
{
    display: flex;
}

.container-image-water
{
    display: flex;
}

.container-image-water img
{
    margin-right: 10px;
    height: 150px;
}